@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');
@import 'variables';
@import 'effects/main';

body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 100px;
  font-weight: 900;
  margin: 0;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.calendar__day {
  background: $dark;
  padding: 20px;
  text-align: center;
}

.calender__day--light {
  background: $medium;
}
