@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');
@import 'variables';
@import 'effects/main';
@import 'day';

body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 150px;
  font-weight: 900;
  margin: 0;
}


.calendar {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;

  @media (min-width: 400px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.calendar__day--square {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__day {
  background: $dark;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  text-align: center;
  transition: all 2s ease;
}

.calender__day--light {
  background: $medium;
}

.fullscreen {
  z-index: 2;
  position: absolute;
  transform: translate(0, 0);
}
