<div class="calendar__day
            open-{{position}}
            {{#if highlight}}calendar__day--light{{/if}}
            opened
            fullscreen">
  <a href="/calendar"><span data-letter="{{date}}">{{date}}</span></a>
  <div class="calendar__day--content">
    <div class="calendar__day--graphic">

      {{#if image}}<img src="{{image}}" alt="cool image bro!">{{/if}}

      {{#if iframe}}
        <iframe width="{{iframe.width}}" height="{{iframe.height}}"
        scrolling="{{iframe.scrolling}}" frameborder="{{iframe.frameborder}}"
        src="{{iframe.src}}"
        {{#if allowtransparency}}allowtransparency{{/if}}></iframe>
      {{/if}}
    </div>

    <div class="calendar__day--text">
      {{text}}
      <p class="calendar__day--subtext">{{subtext}}</p>
    </div>
  </div>
</div>
