.open-left span:before,
.open-left span:after {
  transform-origin: 0 50%;
}

.open-left {
  & span:before {
      transform: scale(1.08, 1) skew(0deg, 1deg);
    }

  & span:after {
    transform: rotateY(-15deg);
  }
}

.open-left:hover {
  & span:before {
    transform: scale(0.85,1) skew(0deg,20deg);
  }

  & span:after {
    transform: rotateY(-40deg);
  }
}
