.open-right span:before,
.open-right span:after {
  transform-origin: 100% 50%;
}

.open-right {
  & span:before {
      transform: scale(0.85, 1) skew(0deg, 1deg);
    }

  & span:after {
    text-shadow:
      1px 0px 0px hsla(360, 100%, 100%, 0.1),
      -3px 0px 1px hsla(0, 0%, 0%, 0.4);
    transform: rotateY(15deg);
  }
}

.open-right:hover {
  & span:before {
    transform: scale(0.85,1) skew(0deg,-20deg);
  }

  & span:after {
    transform: rotateY(40deg);
  }
}
