.open-top span:before,
.open-top span:after {
  transform-origin: 50% 100%;
}

.open-top {
  & span:before {
      transform: scale(1, 0.95) skew(-4deg, 0deg);
    }

  & span:after {
    transform: rotateX(-15deg);
  }
}

.open-top:hover {
  & span:before {
    transform: translateY(-0.050em) scale(1, 0.55) skew(-10deg, 0deg);
  }

  & span:after {
    transform: translateY(-0.035em) rotateX(-40deg);
  }
}
