.calendar__day {
  &--content {
    margin: auto 130px;
  }

  &--graphic {
    margin: 40px 0;
  }

  img {
    max-width: 50%;
    border-style: dashed;
    border-color: white;
    padding: 1%;
  }

  &--text {
    margin: 0 auto;
    width: 80%;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
  }

  &--subtext {
    font-size: 20px;
  }

  &--list {
    text-align: left;
    width: 55%;
    height: 350px;
    margin: 0 auto;
    overflow: scroll;

    li {
      margin: 20px 0;
    }
  }

  &--link {
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-weight: 400;
    margin: 3% 0;

    a {
      text-decoration: none;
    	position: relative;
    	padding-bottom: 1em;
    	overflow: hidden;
    	color: white;

      &:after {
        position: absolute;
    		top: 0;
    		left: 0;
    		right: 0;
    		bottom: 0;
    		white-space: nowrap;
    		content: attr(data-text)attr(data-text);
    		color: transparent;
    		line-height: 1.8;
        text-decoration: underline;
        text-decoration-style: wavy;
        text-decoration-color: white;
      }

      &:hover:after {
    		animation: wavy-slide 3s linear infinite;
    	}
    }
  }
}


@keyframes wavy-slide {
  to {
    margin-left: -51%;
  }
}
