@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');
@import 'variables';
@import 'effects/main';
@import 'day';

body {
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 0 auto;
  height: 100vh;
}

.calendar {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;

  @media (min-width: 400px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.calendar__day {
  background: $dark;
  padding: 20px;
  text-align: center;

  span {
    font-size: 100px;
    font-weight: 900;
  }

  &--light {
    background: $medium;
  }

  &--square {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
